<% provide(:title, "登录") %>
<h1>登录</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <label>注册邮箱：</label>
      <%= f.text_field :email %>

      <label>密码：</label>
      <%= f.password_field :password %>

      <%= f.submit "登录", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>