<%= form_for(current_user.favourites.build(item_id: object), remote: true) do |f| %>
  	<div><%= f.hidden_field :item_id %></div>
  	<button class="btn relationshipbutton" data-original-title="标记为喜欢的物品" type="submit">
		<i class="icon-heart relationshipicon"></i>
		<span class="relationSpan"><font size="3">喜欢</font></span>
	</button>
<% end %>