<%= form_for(current_user.plans.build(item_id: object), remote: true) do |f| %>
  	<div><%= f.hidden_field :item_id %></div>
  	<button class="btn relationshipbutton" data-original-title="计划购入的物品">
		<i class="icon-time relationshipicon"></i>
		<span>计划</span>
	</button>
<% end %>