<%= form_for(current_user.useds.find_by(item_id: object),
	html: {method: :delete}, remote: true) do |f| %>
  	<div><%= f.hidden_field :item_id %></div>
  	<button class="btn btn-success relationshipbutton" data-original-title="已用过的物品" type="submit">
		<i class="icon-time icon-check relationshipicon"></i>
		<span>用过</span>
	</button>
<% end %>