<% provide(:title, '品牌列表') %>

<div class="span12">
<div class="BrandStoreRightNav">
 	<div id="sub">品牌列表</div>
		<table class="brandTable">
			<tbody>
				<% alphArray = ('A'..'Z').to_a %>
				<% value = 0 %>
				<% while value< 26 do %>
					<tr>
						<% for addValue in 0..3 %>
							<td class="BoutiqueArray">
								<div class="divAlpha"><%= alphArray[value+addValue] %></div>
							</td>
						<% end %>
					</tr>
					<tr>
						<% for addValue in 0..3 %>
							<td class="BoutiqueArrayTd">
								<% if (value+addValue)==26 %>
									<% break %>
								<% end %>
								<% alph_brand=alphArray[value+addValue] %>
								<% Brand.where("brand_english LIKE '#{alph_brand}%'").each do |brand| %>
									<div class="divBrandName">
										<span class="newProd"></span>
										<span class="brandText">
											<%= link_to brand.brand_name, brand_path(brand.id) %>
										</span>
									</div>
								<% end %>
							</td>
						<% end %>
					</tr>
					<% value+=4 %>
					<tr>
						<td class="seperator" colspan="6"><hr></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
</div>