<% provide(:title, @category.name) %>

<div class="row">
	<aside class="span3">
		<section>
			<h1><%= @category.name %></h1>
		</section>
		<section>
			<%= render 'subcategory_form' %>
		</section>
	</aside>

	<div class="span8">
		<ol class="microposts">
	  		<%= render @subcatetories %>
		</ol>
		<%= will_paginate @subcatetories%>
	</div>
</div>